C-Sharp/DecrypteService/Connected Services/JavaDecryptService/DecryptServiceBean.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://facade.service.com/" targetNamespace="http://facade.service.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DecryptOperation" type="tns:DecryptOperation" />
  <xs:element name="DecryptOperationResponse" type="tns:DecryptOperationResponse" />
  <xs:complexType name="DecryptOperation">
    <xs:sequence>
      <xs:element minOccurs="0" name="xml" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DecryptOperationResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="acceptedDecrypt" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>