TesWebServiceJee/A4TestMyWebService/A4WebServiceClient/Connected Services/MathService/MathService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MathService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44347/MathService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44347/MathService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMathService_add_InputMessage">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="IMathService_add_OutputMessage">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:message name="IMathService_subtract_InputMessage">
    <wsdl:part name="parameters" element="tns:subtract" />
  </wsdl:message>
  <wsdl:message name="IMathService_subtract_OutputMessage">
    <wsdl:part name="parameters" element="tns:subtractResponse" />
  </wsdl:message>
  <wsdl:message name="IMathService_multiply_InputMessage">
    <wsdl:part name="parameters" element="tns:multiply" />
  </wsdl:message>
  <wsdl:message name="IMathService_multiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:multiplyResponse" />
  </wsdl:message>
  <wsdl:message name="IMathService_Divide_InputMessage">
    <wsdl:part name="parameters" element="tns:Divide" />
  </wsdl:message>
  <wsdl:message name="IMathService_Divide_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideResponse" />
  </wsdl:message>
  <wsdl:portType name="IMathService">
    <wsdl:operation name="add">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathService/add" message="tns:IMathService_add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathService/addResponse" message="tns:IMathService_add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="subtract">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathService/subtract" message="tns:IMathService_subtract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathService/subtractResponse" message="tns:IMathService_subtract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="multiply">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathService/multiply" message="tns:IMathService_multiply_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathService/multiplyResponse" message="tns:IMathService_multiply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathService/Divide" message="tns:IMathService_Divide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathService/DivideResponse" message="tns:IMathService_Divide_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMathService" type="tns:IMathService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="add">
      <soap:operation soapAction="http://tempuri.org/IMathService/add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="subtract">
      <soap:operation soapAction="http://tempuri.org/IMathService/subtract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiply">
      <soap:operation soapAction="http://tempuri.org/IMathService/multiply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <soap:operation soapAction="http://tempuri.org/IMathService/Divide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MathService">
    <wsdl:port name="BasicHttpBinding_IMathService" binding="tns:BasicHttpBinding_IMathService">
      <soap:address location="http://localhost:63429/MathService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>